*{
	margin: 0;
	padding: 0;
	list-style: none;
}
html,body{
	height: 100%;
	width: 100%;
}
#container{
	z-index:10;
	width:1349px;
	margin: 0 auto;
}
/******************导航********************/
#nav{
	width: 1349px;
	height: 80px;
	background-color:#fff;
	z-index:15;
	position: fixed;
}
#nav-pic{
	float:left;
	width:200px;
	margin:22px 280px 0 55px;
}
#nav-select{
	width:550px;
	float:left;
	margin-left:-50px;
}
#button{
	border:1px solid #fff;
	width:300px;
	float:right;
}
.logo{
	background: url( /images/logo-1.png) no-repeat;
	width: 200px;
	height: 42px;
}
.nav-ul li{
	float: left;
	font-size:16px;
	margin-left:25px;
	line-height:80px;
	width: 80px;
	text-align: center;
	margin-top:5px;
}
.nav-ul li a{
	text-decoration: none;
	color: #4B4B4B;
}
.nav-ul li a:hover{
	text-decoration: none;
	color: #00A900;
	transition-duration: 1s;
}
#longin,#register,#retire{
	width: 60px;
	margin-top:21px;
	height: 45px;
	border-radius:5px;
	background-color: #61A93E;
	cursor:pointer;
	line-height:45px;
	text-align: center;
	font-size:12px;
	color:#fff;
	float:left;
	margin-left:25px;
}
#longin:hover,#register:hover,#retire:hover{
	background-color: #1D1417;
}
/*************************header*****************************/
#header{
	background: url(/images/bg-4.jpg);
	width: 100%;
	height: 457px;
	opacity:0.8;
	overflow:hidden;
}
#header p:first-child{
	font-size:45px;
	color:white;
	margin-top:230px;
	text-align: center;
}
#header p:last-child{
	font-size:15px;
	text-align: center;
}
#header p:last-child a{
	color:white;
	text-decoration: none;
}
#header p:last-child a:hover{
	color:green;
}
/****************************tab-picture*********************************/
@media screen and (max-width: 640px) {
	#tab{
		width: 640px;
		/*border:1px solid white;*/
		margin: 0 auto;
	}
	#select{
		width:100%;
		/*border:1px solid white;*/
		margin: 0 auto;

	}
	#select li{
		width: 45px;
		float: left;
		/*border:1px solid white;*/
	}
}
	#tab{
		width: 95%;
		margin: 0 auto;
	}
	#select{
		position: relative;
		max-height: 50px;
		width: 650px;
		margin: 0 -300px;
		left:50%;
		margin-bottom:25px;
		display:inline-block;
	}
	#select li{
		list-style: none;
		border:1px solid grey;
		width: 105px;
		height: 45px;
		float: left;
		margin-top:15px;
		margin-left:25px;
		text-align: center;
		padding-top:10px;
		box-sizing:border-box;
		cursor:pointer;
		border-radius:10px;
	}
	#select li:hover{
		background-color:#BFD3CA;
	}
	.picture ul{
		height:480px;
		width: 100%;
		display:none;
	}
	.picture ul:first-child{
		height:940px;
		width: 100%;
		display:block;
	}
	.picture ul li{
		list-style: none;
		float: left;
		margin-left:20px;
		margin-top: 20px;
		position: relative;
		overflow:hidden;
		border-radius:15px;
	}
	.picture ul li span{
		width: 100%;
		height: 55px;
		display: inline-block;
		position: absolute;
		bottom:2px;
		z-index:2;
		text-align: center;
		font-size:20px;
		letter-spacing:20px;/*字体之间的距离*/
		line-height:55px;
		opacity: 0;
		color:#fff;
		transition:opacity 1s;
		border-radius:0 0 15px 15px;
	}
	.picture ul li:hover span{
		opacity: 1;
	}
/***********************information*******************************/
#information{
	background-color: #212B31;
	height: 550px;
	width: 1349px;
	color:#F4F4F4;
	margin:0 auto;
}
#information .inf-top{
	background-image:url( /images/sub-bg.jpg);
	height: 200px;
	overflow:hidden;
}
#information .inf-top p{
	text-align: center;
	margin-top: 100px;
	font-size:24px;
}
#information .inf-bottom{
	height: 350px;
}
.inf-bottom .inf1{
	width:449px;
	height:100%;
}
.inf-bottom .inf1,.inf-bottom .inf2,.inf-bottom .inf3{
	float:left;
	width:445px;
	height:100%;
}
#information .inf-bottom .inf2 h3{
	margin: 55px 0 25px 25px;
}
#information .inf-bottom .inf1 h3{
	margin: 55px 0 25px 100px;
}
#information .inf-bottom .inf1 ul{
	width:290px;
	height:230px;
	margin:0 auto;
}
#information .inf-bottom .inf1 ul li{
	float:left;
	margin-top:20px;
	margin-left:20px;
	transition:all 2s;
}
#information .inf-bottom .inf1 ul li:hover{
	transform:scale(1.2);
}
#information .inf-bottom .inf2 p{
	line-height: 25px;
	margin-left: 25px;
	font-size:14px;
	height:200px;
	width:420px;
}
#information .inf-bottom .inf3 h3{
	margin: 55px 0 25px 55px;
}
#information .inf-bottom .inf3 .inf3-1{
	margin-bottom:25px;
	margin-left:55px;
	display: grid;
	grid-template-columns:65px auto;
}
#information .inf-bottom .inf3 .inf3-1 .img1{
	background-image: url( /images/resource/post-thumb-4.jpg);
	width: 65px;
	height: 65px;
}
#information .inf-bottom .inf3 .inf3-1 .img2{
	background-image: url( /images/resource/featured-image-6a.jpg);
	background-size:cover;
	width: 65px;
	height: 65px;
}
#information .inf-bottom .inf3 .inf3-1 span{
	margin: 0 25px;
	font-size:14px;
	line-height:25PX;
	cursor:pointer;
	transition-duration:2s;
}
#information .inf-bottom .inf3 .inf3-1 span:hover{
	color:#15E75C;
}
/************************login and reginter**********************************/
#locon{
	background-color:rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	display:none;
	z-index:99;
	position: absolute;
	top:0;
	overflow: hidden;
	margin:0 auto;
}
#loncon-warp{
	width: 35%;
	height: 400px;
	background-color:rgba(0,0,0,0.7);
	margin: 0 auto;
	margin-top: 100px;
	overflow: hidden;
}
#title{
	color:white;
	margin-top:20px;
	margin-left:20px;
}
#title p:first-child{
	font-size:24px;
	margin-bottom:20px;
	width: 100%;
	display: inline-block;
}
#title p:first-child img{
	float: right;
	margin-right: 15px;
	cursor: pointer;
}
#title p:last-child{
	font-size:18px;
	margin-bottom:20px;
}
#ioncon-input{
	margin-left:20px;
}
#ioncon-input input{
	width: 420px;
	height: 45px;
	border-radius:5px;
	margin-top: 20px;
}
#ioncon-input #code{
	width: 300px;
}
/********************reginter****************************/
#reg{
	background-color:rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	display:none;
	z-index:99;
	position: absolute;
	top:0;
	overflow: hidden;
}
#reg-warp{
	width: 35%;
	height: 450px;
	background-color:rgba(0,0,0,0.7);
	margin: 0 auto;
	margin-top: 100px;
	overflow: hidden;
}
#title{
	color:white;
	margin-top:20px;
	margin-left:20px;
}
#title p:first-child{
	font-size:24px;
	margin-bottom:20px;
}
#title p:first-child img{
	float: right;
	margin-right:15px;
	cursor:pointer;
}
#title p:last-child{
	font-size:18px;
	margin-bottom:20px;
}
#reg-input{
	margin-left:20px;
}
#reg-input input{
	width: 400px;
	height: 45px;
	border-radius:5px;
	margin-top: 20px;
}




