@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
html,body{
	height: 100%;
	width: 100%;
}
#container{
	z-index:10;
	width:1349px;
	margin: 0 auto;
}
/******************导航********************/
#nav{
	width: 1349px;
	height: 80px;
	background-color:#fff;
	z-index:15;
	position: fixed;
}
#nav-pic{
	float:left;
	width:200px;
	margin:22px 280px 0 55px;
}
#nav-select{
	width:550px;
	float:left;
}
#button{
	border:1px solid #fff;
	width:250px;
	float:right;
}
.logo{
	background: url( /images/logo-1.png) no-repeat;
	width: 200px;
	height: 42px;
}
.nav-ul li{
	float: left;
	font-size:16px;
	font-weight: bold;
	margin-left:25px;
	line-height:80px;
	width: 80px;
	text-align: center;
}
.nav-ul li a{
	text-decoration: none;
	color: #4B4B4B;
}
.nav-ul li a:hover{
	text-decoration: none;
	color: #00A900;
	transition-duration: 1s;
}
#longin,#register{
	width: 60px;
	margin-top:21px;
	height: 45px;
	border-radius:5px;
	background-color: #61A93E;
	cursor:pointer;
	line-height:45px;
	text-align: center;
	font-size:12px;
	color:#fff;
	float:left;
	margin-left:25px;
}
#longin:hover,#register:hover{
	background-color: #1D1417;
}
/*************************header*****************************/
#header{
	background: url(/images/background/page-title-bg.jpg);
	width: 1349px;
	height: 457px;
	opacity:0.8;
	overflow:hidden;
}
#header p:first-child{
	font-size:45px;
	color:white;
	margin-top:230px;
	text-align: center;
}
#header p:last-child{
	font-size:15px;
	text-align: center;
}
#header p:last-child a{
	color:white;
	text-decoration: none;
}
#header p:last-child a:hover{
	color:green;
}
/***********************shopping********************************/
#SHOOPING{
	width:100%;
	height:75px;
	background-color:#4B8C5B;
}
#SHOOPING #shopping{
	width:1200px;
	text-align:center;
	padding-left:180px;
	font-size:45px;
	font-weight:bloder;
	color:#fff;
	float:left;
	box-sizing:border-box;
	/*border:1px solid #000;*/
}
#SHOOPING #img{
	background: url( /images/scar.png) no-repeat;
	width:35px;
	height:35px;
	float:left;
	margin-top:20px;
	cursor:pointer;
}
/****************************goods**********************************/
#goods{
	width:90%;
	height:925px;
	/*border:1px solid #000;*/
	margin:20px auto;
	background-color:#F5F5F5;
	position:relative;
}
#goods #goo{
	width:100%;
	height:55px;
	/*background-color:#0F0;*/
}
#goods #goo li{
	width:50%;
	height:100%;
	float:left;
	text-align:center;
	color:#333;
	line-height:55px;
	font-size:25px;
	border-bottom:1px solid #fff;
}
#goods #flower{
	width:100%;
	height:724px;
	border:1px solid #E2E2E2;
}
#goods #flower h2{
	margin-top:25px;
	padding-left:35px;
	box-sizing:border-box;
}
#goods #flower p{
	margin-top:25px;
	padding-left:35px;
	box-sizing:border-box;
	margin-bottom:15px;
}
#goods #flower ul{
	width:100%;
	height:854px;
	overflow:hidden;
	display:none;
}
#goods #flower li{
	border:1px solid #ccc;
	width:27%;
	height:350px;
	margin-bottom:30px;
	float:left;
	margin-left:60px;
	border-radius:15px;
	background-color:#fff;
}
#goods #flower li #wupin{
	width:90%;
	height:100%;
	/*border:1px solid #000;*/
	margin:0 auto;
	line-height:45px;
	text-align:center;
}
#goods #picture,#goods #name,#goods #price{
	margin:20px 80px;
	border-radius:15px;
	font-size:20px;
}
#goods #name,#goods #price{
	width:130px;
	height:45px;
}
.snipcart-details .button {
    font-size: 14px;
    color: #fff;
    background: #3399cc;
    text-decoration: none;
    position: relative;
    border: none;
    width: 100%;
    text-transform: uppercase;
    padding: .5em 0;
    outline: none;
}
.snipcart-details input.button:hover{
    background: #4BB15B;
}
/***********************information*******************************/
#information{
	background-color: #212B31;
	height: 550px;
	width: 1349px;
	color:#F4F4F4;
	margin:0 auto;
}
#information .inf-top{
	background-image:url( /images/sub-bg.jpg);
	height: 200px;
	overflow:hidden;
}
#information .inf-top p{
	text-align: center;
	margin-top: 100px;
	font-size:24px;
}
#information .inf-bottom{
	height: 350px;
}
.inf-bottom .inf1{
	width:449px;
	height:100%;
}
.inf-bottom .inf1,.inf-bottom .inf2,.inf-bottom .inf3{
	float:left;
	width:445px;
	height:100%;
}
#information .inf-bottom .inf1 h3,#information .inf-bottom .inf2 h3{
	margin: 55px 0 25px 25px;
}
#information .inf-bottom .inf1 p,#information .inf-bottom .inf2 p{
	line-height: 25px;
	margin-left: 25px;
	font-size:14px;
	height:200px;
	width:420px;
}
#information .inf-bottom .inf3 h3{
	margin: 55px 0 25px 55px;
}
#information .inf-bottom .inf3 .inf3-1{
	margin-bottom:25px;
	margin-left:55px;
	display: grid;
	grid-template-columns:65px auto;
}
#information .inf-bottom .inf3 .inf3-1 .img1{
	background-image: url( /images/resource/post-thumb-4.jpg);
	width: 65px;
	height: 65px;
}
#information .inf-bottom .inf3 .inf3-1 .img2{
	background-image: url( /images/resource/featured-image-6a.jpg);
	background-size:cover;
	width: 65px;
	height: 65px;
}
#information .inf-bottom .inf3 .inf3-1 span{
	margin: 0 25px;
	font-size:14px;
	line-height:25PX;
	cursor:pointer;
	transition-duration:2s;
}
#information .inf-bottom .inf3 .inf3-1 span:hover{
	color:#15E75C;
}
/************************login and reginter**********************************/
#locon{
	background-color:rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	display:none;
	z-index:99;
	position: absolute;
	top:0;
	overflow: hidden;
}
#loncon-warp{
	width: 35%;
	height: 400px;
	background-color:rgba(0,0,0,0.7);
	margin: 0 auto;
	margin-top: 100px;
	overflow: hidden;
}
#title{
	color:white;
	margin-top:20px;
	margin-left:20px;
}
#title p:first-child{
	font-size:24px;
	margin-bottom:20px;
	width: 100%;
	display: inline-block;
}
#title p:first-child img{
	float: right;
	margin-right: 15px;
	cursor: pointer;
}
#title p:last-child{
	font-size:18px;
	margin-bottom:20px;
}
#ioncon-input{
	margin-left:20px;
}
#ioncon-input input{
	width: 400px;
	height: 45px;
	border-radius:5px;
	margin-top: 20px;
}
/********************reginter****************************/
#reg{
	background-color:rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	display:none;
	z-index:99;
	position: absolute;
	top:0;
	overflow: hidden;
}
#reg-warp{
	width: 35%;
	height: 450px;
	background-color:rgba(0,0,0,0.7);
	margin: 0 auto;
	margin-top: 100px;
	overflow: hidden;
}
#title{
	color:white;
	margin-top:20px;
	margin-left:20px;
}
#title p:first-child{
	font-size:24px;
	margin-bottom:20px;
}
#title p:first-child img{
	float: right;
	margin-right:15px;
	cursor:pointer;
}
#title p:last-child{
	font-size:18px;
	margin-bottom:20px;
}
#reg-input{
	margin-left:20px;
}
#reg-input input{
	width: 400px;
	height: 45px;
	border-radius:5px;
	margin-top: 20px;
}
/***************************购物单********************************/
#shopping-list{
	width:550px;
	height:550px;
	border:1px solid #FBFBFB;
	position:absolute;
	top:250px;
	left:50%;
	margin-left:-265px;
	background-color:#FBFBFB;
	border-radius:10px;
	box-shadow:0 0 3px 3px #D3EACB;
	display:none;
}
#shopping-list #form1{
	margin:10px auto;
}
#thead{
	/*border:1px solid #000;*/
	height:55px;
	width:100%;
	text-align: center;
	font-size:25px;
	line-height:55px;
}
#tbody{
	overflow: auto;
	height: 400px;
	width: 100%;
	box-shadow:1px 1px 3px 3px #D3EACB;
	border-radius:5px;
	/*border:1px solid #000;*/
}
#tbody #wu{
	height:65px;
	width: 100%;
	border-bottom: 1px solid #000;
}
#tbody #wu #wu-pic{
	width:50px;
	height: 100%;
	/*border:1px solid #000;*/
	float: left;
	margin-left: 10px;
	padding-top:10px;
	box-sizing: border-box;
}
#tbody #wu #wu-flower{
	width:130px;
	height:100%;
	/*border:1px solid #000;*/
	line-height: 60px;
	font-size:18px;
	text-align: center;
	float: left;
	margin-left:10px;
}
#tbody #wu input{
	width: 105px;
	height:35px;
	font-size:20px;
	line-height: 35px;
	margin-left:25px;
	margin-top:15px;
}
#tbody #wu span{
	clear: both;
	display: inline-block;
	width: 105px;
	height:55px;
	/*border:1px solid #000;*/
	margin-left: 25px;
	line-height: 55px;
	text-align: center;
	font-size:18px;
}
#tfoot{
	/*border:1px solid #000;*/
	height:55px;
	width:100%;
	text-align: center;
	font-size:25px;
	line-height:55px;
	margin-top:15px;
}
#tfoot input{
	width: 105px;
	height:35px;
	background-color:skyblue;
	font-size:20px;
	line-height: 35px;
	margin-left:35px;
	border:none;
	cursor:pointer;
}

	
	